<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <title>wz_web</title>
    <link href='./static/css/app.a3dac32cbef48f38d0c0c047bd50bacf.css' rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src='./static/js/manifest.60a2202401b3b811dc28.js'></script>
<script type=text/javascript src='./static/js/vendor.a3ff7a8dc105c9120d64.js'></script>
<script type=text/javascript src='./static/js/app.58bbe4250ae94582c2f5.js'></script>
</body>
</html>